  <div class="banner d-flex justify-content-between ">
    <div class="logo my-auto">
      <%= link_to image_tag("logo.png", alt: "Logo"), root_path %>
    </div>
    <div class="logo-hands">
      <%= image_tag("voluntariado.png", alt: "Maos", class: "logo-hands") %>
    </div>
  </div>
  <br>
  <nav class="nav-links">
    <ul class="links">
      <li><%= link_to "Início", "#", class: "ml-5" %></li>
      <li><%= link_to "Quem Somos", "#" %></li>
      <li><%= link_to "Seja Sócio", "#" %></li>
      <li><%= link_to "Projetos", "#" %></li>
      <li><%= link_to "Parceiros", "#" %></li>
      <li><%= link_to "Contatos", "#", class: "mr-5" %></li>
    </ul>
  </nav>
